<h1><%= @user.username %>'s events</h1>

<div><% @user.created_events.each do |e| %></div>
    <h2>Event</h2>
    <div><%= e.title %></div>
    <div><%= e.body %></div>
    <strong><%= e.date %></strong>
    <div><%= e.location %></div>
    <% end %>

<% past = []%>
<% future = []%>
<% @user.attended_events.each do |e| %>
    <% if Date.parse(e.date) > Date.today%>
        <% future << e %>
    <% else %>
        <% past << e %>
    <% end %>
<% end %>

<h2> Events attended</h2>
<ul>
<div><% past.each do |e| %></div>
    <li><%= e.title %></li>
    <div><%= e.date %></div><br>
<% end %>
</ul>

<h2> Events to attend</h2>
<ul>
<div><% future.each do |e| %></div>
    <li><%= e.title %></li>
    <div><%= e.date %></div><br>
<% end %>
</ul>

<div><%= link_to "Back to home", root_path%></div>
