<h1><%= @user.username %>'s events</h1>

<div><% @user.created_events.each do |e| %></div>
    <h2>Event</h2>
    <div><%= e.title %></div>
    <div><%= e.body %></div>
    <strong><%= e.date %></strong>
    <div><%= e.location %></div>
    <% end %>

<h2>Events to attend</h2>
<div><% @user.attended_events.each do |e| %></div>
    <div><%= e.title %></div>
    <div><%= e.body %></div>
    <strong><%= e.date %></strong>
    <div><%= e.location %></div><br>
<% end %>