<h1>Events</h1>

<h2> Past events </h2>
<ul>
<% @events.past.each do |e| %>
    <li><%= e.title %></li>
    <strong><%= e.date %></strong>
<% end %>
</ul>

<h2> Future events </h2>
<ul>
<% @events.future.each do |e| %>
    <li><%= e.title %></li>
    <strong><%= e.date %></strong>
    <div><%= link_to "See event", event_path(e) %></div><br>
<% end %>
</ul>

<%= link_to "Back to home", root_path %>