<h1><%= @event.title %></h1>
<div><%= @event.creator.username %></div>
<div><%= @event.date %></div>
<div><%= @event.location %></div>
<strong> Attendees </strong>
<ul>
<div><% @event.attendees.each do |a| %></div>
        <li><%= a.username %></li>
    <% end %>
</ul>
<div><%= render "event_attendings/form"%></div><br>

<div><%= link_to "Back to home", root_path%></div>
