<h1>Home</h1>

<% if user_signed_in?%>
    <div><%= link_to "My events", user_path(current_user)%></div><br>
    <div><%= link_to "Create event", new_event_path%></div><br>
    <div><%= link_to "See available events", events_path%></div><br>
    <div><%= button_to "Sign out", destroy_user_session_path, method: :delete %></div>
<% else %>
    <div><%= link_to "Sign up", new_user_registration_path%></div>
    <div><%= link_to "Log in", new_user_session_path%></div>
<% end %>
